.user-component {
    justify-content: space-between;
    margin: 0 10px 15px;
    /* margin-bottom: 15px; */
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.1);
    border-radius: 37px;
    /* backdrop-filter: blur(25px); */
    box-shadow: 0 2px 10px -5px rgba(49, 66, 46, 0.5);
    transition: 0.1s;
}

.user-component:hover {
    background-color: #ffd02c;
    box-shadow: 0 2px 10px -5px rgba(49, 66, 46, 1);
    /* color: #fff; */
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    margin-right: 10px;
}

.user-component__avatar i {
    font-size: 32px;
}

.user-component__title {
    font-weight: 600;
    font-size: 18px;
}

.user-component__subtitle {
    margin-top: 8px;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    display: inline-block;
}

.user-component__subtitle + i {
    color: #f6f4f2;
}

.user-component__avatar--xl {
    width: 50px;
    height: 50px;
}

.user-component__avatar--sm {
    width: 50px;
    height: 50px;
    border-radius: 999px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__column:last-child {
    color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.user-component__time {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}